{% extends 'layout.html.twig' %}
 {% block title %} List of medias {% endblock %}

{% block main %}

    <div class="row">
        {% for media in medias %}
            {% set url = media.picture|split('_') %}
            <div class="col-md-6 mx-auto">
                <div class="card mb-4" id="{{ media.id }}">
                    <div class="carre-media">
                        <img class="card-img-top" src="{{ asset('uploads/files/' ~ media.picture ) }}">
                        <div class="card-body">
                            <p>{{ media.name }}</p>
                            <p>{{ media.description }}</p>

                            {% if media.extension == 'mp3' %}
                                <audio controls>
                                    <source src="{{ asset('uploads/files/' ~ url[0] ~ '_media.' ~ media.extension) }}" type="audio/mp3">
                                </audio>
                            {% elseif media.extension == 'mp4' or media.extension == 'webm' or media.extension == '3GPP' %}
                                <video width="400" controls>
                                    <source src="{{ asset('uploads/files/' ~ url[0] ~ '_media.' ~ media.extension) }}" type="video/{{ media.extension }}">
                                    Your browser does not support HTML5 video.
                                </video>
                            {% else %}
                                    <p> Ce type de fichier n'est pas pris en charge </p>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <a href="{{ path("media_update", {id : media.id}) }}" class="btn btn-primary">update</a>
                            <a href="{{ path("media_delete", {id : media.id}) }}" class="btn btn-danger"><span class="oi oi-trash"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}