{% extends 'layout.html.twig' %}

{% block title %} MEDIA {% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
            <div class="card card-signin my-3">
                <div class="card-header">
                    <h1 class="card-title text-center">Edit Media</h1>
                </div>
                <div class="card-body">
                    <hr class="my-4">
                    {{ form_start(MediaForm) }}
                    {{ form_row(MediaForm.name) }}
                    {{ form_row(MediaForm.description) }}
                    {{ form_row(MediaForm.picture) }}
                    {{ form_row(MediaForm.genre) }}
                    <hr class="my-4">
                    <button class="btn btn-lg btn-outline-success btn-block" type="submit">Valid</button>
                    {{ form_end(MediaForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}