{% extends 'layout.html.twig' %}
 {% block title %} Music Player - List of {{ controller_name }} {% endblock %}

{% block main %}

    {#<div class="row carrediv">#}
    <div class="row carrediv">
        {% for genre in genres %}
            <div class="col-md-2 no-padding">
                <div class="card carre2" id="{{ genre.id }}">
                    <a href="{{ path("media", {id : genre.id}) }}">
                        <div class="carre">
                            <h3>{{ genre.name }}</h3>
                        </div>
                    </a>
                </div>
                <script>
                    var randomColor = ['#f44336','#8e24aa','#3949ab','#2196f3','#00bcd4','#009688','#8bc34a','#cddc39',
                        '#ffc107','#ff9800','#ff5722','#9e9e9e','#607d8b','#d81b60','#69f0ae'];
                    document.getElementById({{ genre.id }}).style="box-shadow: 2px 2px 12px #080808d1; !important;background-color: " + randomColor[{{ loop.index0 }}];
                </script>
            </div>
        {% endfor %}
    </div>
{% endblock %}