<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bucket-List{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link href="{{ asset('open-iconic/font/css/open-iconic.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            {#<a class="site-title" href="{{ path('home') }}" title="Bucket-List | Home">#}
                {#<img src="{{ asset('img/logo.png') }}" alt="Bucket-List"> Bucket-List#}
            {#</a>#}
            <nav>
                <ul>
                    {#<li><a href="{{ path("home") }}" title="Bucket-List | Home">Home</a></li>#}
                    {#<li><a href="{{ path("aboutUs") }}" title="Bucket-List | About Us">About Us</a></li>#}
                    {#<li><a href="{{ path("idea") }}" title="Bucket-List | Idea">Idea</a></li>#}
                    {#<li><a href="{{ path("category") }}" title="Bucket-List | Category">Category</a></li>#}
                    {#<li><a href="{{ path("download") }}" title="Bucket-List | Download">Download</a></li>#}
                    <li><a href="#" title="Test">Test</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {#Flash Message#}
            {% for label,messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {%  endfor %}

            {% block content %}{% endblock %}
            {% block main %}{% endblock %}
        </main>

        <footer>
            © {{ "now"|date("Y") }} Medai-Player

            <div class="license">
                By Maelien PECHAUD & Elie Cosnier <br>
            </div>
        </footer>
        <script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}">
        </script>
    </div>
</body>
</html>